<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Order</title>
    </head>
    <body>
        <h1>
            This is the Order :
        </h1>
        <form method="post">
            <input type="text" name="products_id" />
            <button>Save</button>
        </form> 
    </body>
</html>